<!DOCTYPE html>
<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Django Girls Blog</a></h1>
        </header>

        <article>
            <time>published: 21.02.2021, 10:50</time>
            <h2><a href="">My first post</a></h2>
            <p>Django поставляется со встроенной моделью пользователя< /a> для аутентификации,
                однако официальная документация Django настоятельно рекомендует использовать пользовательскую
                модель для новых проектов. Причина в том, что если вы хотите внести какие-либо изменения в модель
                пользователя в будущем — например, добавить поле даты рождения — использование пользовательской
                модели пользователя с самого начала упрощает эту задачу. Но если вы этого не сделаете,
                обновить модель пользователя по умолчанию в существующем проекте Django будет очень и очень сложно.</p>
        </article>

        <article>
            <time>published: 21.02.2021, 12:35</time>
            <h2><a href="">My second post</a></h2>
            <p>SQL Injection (SQLi) - один из самых опасных классов веб-уязвимостей.
                К счастью, она становится все более редкой - в основном благодаря растущему использованию уровней
                абстракции баз данных, таких как ORM в Django, - но в тех случаях, когда она происходит,
                она может быть разрушительной.</p>
        </article>
    </body>
</html>